# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated data
data/raw/*
!data/raw/.gitkeep

data/processed/*.db

# Models
models/*.joblib

# OS/editor files
.DS_Store
.vscode/